# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# secrets
.env

# Go workspace file
go.work

# Js Files
node_modules/
dist/

# templ
view/*_templ.go

# air tmp files
/tmp

# tailwind
output.css
