package view

import "ioignition/internal/database"

templ ListDomains(domains []database.Domain) {
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
		for _, domain := range domains {
			<a href={ templ.URL("/" + domain.Url) } class="block">
				<div class="bg-zinc-700 rounded-lg p-4 text-center">
					<span>{ domain.Url }</span>
				</div>
			</a>
		}
	</div>
}
